$color-dark:#262626;
$color-black: #000;
$color-primary: #d3ab55;

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $color-dark;
}
