.logo{
    text-decoration: none;
    font-size: 70px;
    color: $color-primary;
    
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
    @include flexLayout;
}
.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles;


}

.sub-name {
    font-family: $font-josefiSans;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyles;
}

.main-heading {

    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
    margin-top: 100px;
}
.sub-heading {
    font-family: $font-josefiSans;
    font-size: 60px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 80px;

}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-josefiSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    cursor: pointer;
    transition-property: all .4s;
    margin-bottom: 50px;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;


    }
}
.card {
    width: 33.3333%;
}