.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .6)),url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    
    .brand {
       
        display: flex;
        align-items: center;
        @include centering(15%);
    }

&-banner {
    text-align: center;
    color: white;
    @include centering(50%);
    
}

}