.paragraph-1 {
  background-color: red; }

.paragraph-2 {
  background-color: green; }

.paragraph-3 {
  background-color: blue; }

.paragraph-4 {
  background-color: orange; }

.paragraph-5 {
  background-color: black; }

.paragraph-6 {
  background-color: grey; }
