//Numbers
.numbers{
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px; //rem, em, %
}
//strings
.string {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
// Colors
.colors {
    color: red;
    background-color: #ff0000;
    border-color: rgb(255, 0, 0);// rgba(255, 0, 0, .5)
    outline-color: hsl(0, 100%, 50%);
}
//Lists
.lists {
    margin: 10px 15px 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Lato';
    border: 1px solid red;
}

